body {
  margin: 0;
  font-family: sans-serif;
  background: #050505;
  color: white;
}

.container {
  padding: 40px;
}

button {
  margin: 10px 10px 10px 0;
  padding: 10px 20px;
  border: none;
  background: #ff671f;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

pre {
  margin-top: 20px;
  background: #111;
  padding: 15px;
  overflow: auto;
}
